
/* tab */
.tab_menu li{float:left;width:92px;height:30px;line-height:30px;border-bottom:0px;cursor:pointer;text-align:center;margin:0 2px 0 0;}
.tab_box{clear:both;position:relative;}
.hide{display:none;}
