* {margin:0;padding:0;}
table {border-collapse:collapse;}
.asterisk {color:#fe6003;}
.ellipsis {text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;}
.wrap{word-wrap:break-word;word-break:break-all;}
.nowrap {white-space:nowrap;}
.center{text-align:center;margin:auto;white-space:nowrap;}
label.checkbox{padding-right:10px;}
.dict_pick {border: 1px solid #ccc;background: #FFF;position: absolute; display:none;z-index:9999999;}
.read_yes{background-color:#7ab332;color:#fff;padding:3px;}
.read_no{background-color:#ff0000;color:#fff;padding:3px;}
.read_mobile{background-color:#62a8d1;color:fff;padding:3px;}
.invalid{background:url("images/invalid.png") no-repeat right #fff;}
.pick{background:url("images/pick.png") no-repeat right;cursor:pointer;}
.hide {display:none;}
.star{background:url("images/star.png") no-repeat 100% 50%;}
html{overflow:hidden;}
.message{color:red;font-size:14px;padding:5px;}
.yes{background-color:#7ab332;color:#fff !important;}
.no{background-color:#ff0000;color:#fff !important;}
.clear {clear:both;}
h3{margin:10px 20px;}
h3 textarea{width:100%;height:80px;}
a{text-decoration:none;}
#desktop #title_todo,#desktop #title_return{clear:both;color:#69aa46;font-size:14px;font-weight:bold;border-bottom:dotted 1px #e3e3e3;margin:0 0 25px 0;padding-left:23px;}
#desktop #title_todo{background:url("images/title_todo.png") no-repeat 0 center;}
#desktop #title_return{background:url("images/title_return.png") no-repeat 0 center;}
#desktop #statistic_status{margin-bottom:0px;overflow:hidden;}
#desktop #welcome{height:50px;border:solid 1px #d6e9c6;background:url("images/tip.png") no-repeat 20px center #dff0d8;line-height:50px;font-size:14px;color:#69aa46;margin-top:25px;padding-left:45px;}
#desktop #welcome a{background:url("images/hideme.png") no-repeat;width:11px;height:10px;float:right;display:inline-block;margin-right:17px;margin-top:20px;cursor:pointer;}
.list_result input{height:20px;line-height:20px;}
.tabmenu{margin-top:2px}
.tabmenu a{border-left:solid 1px #c4d0de;border-top:solid 1px #c4d0de;border-bottom:solid 1px #c4d0de;background:#f9f9f9;height:32px;line-height:32px;float:left;padding:0 22px;display:inline-block;cursor:pointer;color:#989898;}
.tabmenu a.end{border-left:solid 1px #c4d0de;border-bottom:solid 1px #c4d0de;border-top:none;background:#fff;height:33px;}
.tabmenu a.selected{border-top:solid 2px #4b8fbe;border-bottom:none;background:#fff;color:#5a636c;}
.inline_down{padding:20px;}
.tabmain{border:solid 1px #c4d0de;border-top:none;float:left;width:923px;padding:5px;}
ul,ol,dl,li {list-style:none;}
body{color: #444444;margin: 0px auto;font-size:12px;font-family:微软雅黑;}
.list_template{display:none;}
img{border:0;}
.part{color:#4a8fc8;font-size:14px;clear:both;border-bottom:solid 1px #d3e5f3;margin:15px 8px 10px 8px;}
.over{background-color:#d1e0f3;}
.list_search a.Button_Search{margin-right:12px;display:inline-block;}
#login {background:url("images/body.png") repeat-x;}
#login #login_left {width:650px;height:392px;float:left;background:url("images/login_left.png") no-repeat;}
#login #login_right {width:630px;height:392px;float:right;background:url("images/login_right.png") no-repeat;}
#signin{position:absolute;width:230px;height:130px;top:400px;left:50%;background:url("images/signin_bg.png") no-repeat;}
#signin #username,#signin #password{height:25px;line-height:25px;border:solid 1px #ccc;width:160px;border-radius:4px;margin-left:40px;margin-top:7px;}
#signin .Member_Password{margin-top:10px;}
#signin .Button_SignIn{background:url(images/signin.gif) 20px center no-repeat;display:inline-block;background-color:#428bca;border:solid 1px #428bca;color:#fff;height:25px;line-height:25px;padding:3px 20px 3px 35px;margin:10px 0px 0 9px;text-align:center;cursor:pointer;}
#signin #rememberme{margin-left:10px;margin-top:28px;cursor:pointer;}
#signin .Common_RememberMe {color:#fffffd;cursor:pointer;}
#signin #bar{height:40px;background:#5090c1;}
#signin_ca {position:absolute;top:420px;left:50%;width:100px;height:30px;overflow:hidden;;font-size:20px;}
#signin_ca #btnCaLogin {color:#fff;}
#signin_ca  a:hover {color:#005995;}
#header{float:left;background:#438eb9;height:45px;font-weight:bold;width:100%;overflow:hidden;}
#header #system_name{position:absolute;top:10px;left:10px;font-size:18px;font-family:微软雅黑;color:#fff;background:url(images/logo.png) no-repeat 0 3px;padding-left:25px;}
#header #awoke{position:absolute;right:280px;top:0;background:url(images/awoke.png) no-repeat;height:45px;width:284px;display:inline-block;}
#header #awoke a{display:inline-block;color:#fff;margin-top:16px;font-family:arial;cursor:pointer;text-align:center;width:28px;}
#header #awoke #awoke_desktop{margin-left:16px;cursor:pointer;}
#header #awoke #awoke_work{margin-left:40px;}
#header #awoke #awoke_message{margin-left:29px;}
#header #awoke #awoke_online{margin-left:29px;}
#header #awoke #awoke_chat{margin-left:29px;}

#header li{padding-left:40px;margin:5px 0px 0px 0;color:#333333;height:29px;line-height:29px;cursor:pointer;}
#header li:hover{background-color:#fee188;}

#header #user{position:absolute;right:150px;top:0;background:url(images/user.png) no-repeat 10px center #62a8d1;height:40px;line-height:17px;padding-top:5px;padding-left:60px;display:inline-block;width:70px;color:#fff;cursor:pointer;}
#header #setting_menu{position:absolute;right:130px;top:0;background:url("images/dropdown.png") no-repeat 5px center #62a8d1;display:inline-block;height:40px;width:30px;padding-top:5px;cursor:pointer;}
#header #setting_down{position:absolute;width:120px;height:120px;top:45px;right:140px;display:none;border:solid 1px #d8d8d8;background:url("images/setting.png") no-repeat 20px 20px #fff;border-radius:4px;padding-top:12px;}

#header #setting_down #changepassword{}

#header #lang_menu{position:absolute;right:10px;top:0;background:url("images/dropdown.png") no-repeat 90% center #62a8d1;display:inline-block;height:40px;line-height:34px;width:100px;padding-top:5px;cursor:pointer;padding-right:28px;color:#fff;text-align:right;}
#header #lang_down{position:absolute;width:120px;height:180px;top:45px;right:20px;display:none;border:solid 1px #d8d8d8;background:#fff;border-radius:4px;}



.list_search{background:url(images/dot.png) repeat-x left bottom;height:auto!important;height:30px;min-height:30px;line-height:30px;padding-left:2px;margin:5px 0;padding:5px 0;}
.operation{text-align:center;margin:auto;padding-top:4px;width:100%;clear:both;background:url(images/dot.png) repeat-x left top;}
.list_search a, .operation a{display:inline-block;background-color:#428bca;border:solid 1px #428bca;text-align:center;cursor:pointer;color:#fff;height:20px;line-height:20px;padding:3px 15px;margin:4px 2px;}
.list_search a:hover, .operation a:hover,#signin .Button_SignIn:hover{background-color:#4f99c6;}
.list_result{width:100%;}
.list_result .check{width:10px;}
.list_result th{background:url(images/list_header.png) repeat-x;line-height:30px;height:30px;color:#707070;text-align:center;white-space:nowrap;border:solid 1px #ddd;}
.list_result td{padding-left:6px;padding-right:6px;border:solid 1px #ddd;vertical-align:middle;height:32px;color:#393939;}
.list_result td.link, .list_result td a{cursor:pointer;color:#428bca;text-decoration:none;}
.list_result td.link:hover, .list_result td a:hover{color:#2a6496;text-decoration:underline;}
.statistic{float:left;margin-top:4px;padding-left:4px;width:20%;}
.paging{float:right;margin-top:4px;width:60%;text-align:right;}

.list_search input,.form_template input{width:100%;border:solid 1px #fff;}
label{height:20px;line-height:20px;display:inline-block;text-align:right;word-wrap:break-word;word-break:break-all;}
.form_template{color:#444;margin:auto;}
.form_template h1{font-size:13px;font-weight:bold;text-align:center;margin:1px;}
.form_template label,.form_template h2,.form_template h3,.list_search label,.list_search h2{float:left;padding:3px 4px;margin:6px 0;}
.form_template label{width:100px;padding-right:12px;}
#nextMembers{padding:3px 4px;margin:6px 0;height:20px;line-height:20px;}
.form_template h2,.list_search h2{height:20px;line-height:20px;font-size:12px;border:solid 1px #ccc;margin-left:2px;margin-right:2px;}
.form_template h2{width:320px;}
.list_search h2{width:100px;}
.form_template h3{width:771px;border:solid 1px #fff;text-align:left;}



#select_left,#select_right{width:245px;height:290px;margin:4px;}
#options_right,#options_right_all,#options_left_all,#options_left{display:block;margin:auto;width:80px;height:25px;margin:25px 0;}
#options_right{background:url("images/options_right.png") no-repeat center center;}
#options_right_all{background:url("images/options_right_all.png") no-repeat center center;}
#options_left_all{background:url("images/options_left_all.png") no-repeat center center;}
#options_left{background:url("images/options_left.png") no-repeat center center;}

.upload_image{background:url("images/upload_image.png") no-repeat center center;}

#langs{float:right;margin-top:27px;background-color:#8dbe50;border:none;color:#fff;margin-right:5px;}

#left{float:left;width:188px;height:500px;background-color:#f2f2f2;border-right:1px solid #cccccc;}
#right{height:500px;margin-left:180px; border:solid 1px #ffffff;overflow-y:auto;overflow-x:hidden;}
#main{margin:0 20px;}
#toolbar{background:#f5f5f5;width:100%;overflow:hidden;color:#4c8fbd;height:39px;line-height:39px;border-bottom:1px #e5e5e5 solid;float:left;clear:both;}
#toolbar_menu {float:left;}
#toolbar_menu a {cursor:pointer;display:inline-block;height:39px;line-height:39px;margin-left:20px;color:#939393;font-size:14px;padding-left:22px;}
#toolbar_menu a:hover ,#toolbar_menu .current{color:#3d8cce;}
#toolbar_menu .m202 {background:url("images/menu/m202.png") no-repeat 0px 8px;}
#toolbar_menu .m328 {background:url("images/menu/m328.png") no-repeat 0px 8px;}
#toolbar_menu .m794 {background:url("images/menu/m794.png") no-repeat 0px 8px;}
#toolbar_menu .m221 {background:url("images/menu/m221.png") no-repeat 0px 8px;}
#toolbar_menu .m193 {background:url("images/menu/m193.png") no-repeat 0px 8px;}
#toolbar_menu .m105 {background:url("images/menu/m105.png") no-repeat 0px 8px;}


#path {float:right;width:300px;background:url("images/home.png") no-repeat 10px #f5f5f5;padding-left:35px;}
#left .ztree li a.level0 {width:173px;height: 39px;text-align: left;padding-left:12px; display:block;  border-bottom:1px #e5e5e5 solid;}
.down{background:url("images/down.png") 163px 16px no-repeat #f9f9f9;}
#left .ztree li a.level0.cur {background-color: #66A3D2; }
#left .ztree li a.level0 span {display: block; color: #616161; line-height:30px; padding-top:3px; font-size:12px;}

#left .ztree li a.level0 span.button {float:right; margin-left: 10px; visibility: visible;display:none;}
#left .ztree li span.button.switch.level0 {display:none;}
#left a:hover,#left .ztree li a.level0 span:hover{color:#1963aa;text-decoration:none;}

#left .level0 ul li a{background:url("images/plus.png") no-repeat 10px;padding-left:25px;display:inline-block;height:36px;line-height:36px;}
#left .level0 ul li a:hover{background:url("images/plus_over.png") no-repeat 10px;}
#left li.level1{background:url("images/dot.png") repeat-x #fff left bottom;margin-left:-20px;}
#left li.level2{border-top:dotted 1px #ccc;margin-left:-20px;padding-left:20px;}
#left li.level1 a span{line-height:36px;height:36px;}
#left ul.level0 {background:#fff;}
#left .ztree li a.curSelectedNode{color:#1963aa;border-bottom:1px #e5e5e5 solid;border-top:none;border-left:none;border-right:none;padding-top:1px;}
#left .ztree li span.button{margin-top:8px;}

#form_approve h4,#form_traces h1{border-top:dotted 1px #ccc;padding-top:5px;text-align:left;padding-left:52px;}
#TracesResult{width:850px;margin:auto;margin-bottom:10px;margin-left:52px;}
#form_work_view #TracesResult{margin-left:5px;width:99%;}
#form_work_view #form_traces h1{margin-left:5px;}
#flow{clear:both;}
#flow div{padding:3px 4px;margin:8px 0;}
.dict_pick{border-radius:7px;}
.dict_pick a{border:none;}
.dict_pick a:hover{background-color:#fff;}

#CheckStatisticStatus{margin-bottom:0px;overflow:hidden;}
#CheckStatisticStatus div{float:left;margin-right:25px;}
#CheckStatisticStatus div h1{background:url("images/statistic.png") no-repeat 0px center;padding-left:23px;height:17px;line-height:17px;clear:both;color:#69aa46;font-size:12px;margin-top:20px;margin-bottom:8px;}
#CheckStatisticStatus div ul{overflow:hidden;}
#CheckStatisticStatus div ul li{float:left;margin-right:1px;}
#CheckStatisticStatus div ul li.a,#CheckStatisticStatus div ul li.b,#CheckStatisticStatus div ul li.c,#CheckStatisticStatus div ul li.d{padding:8px 10px;color:#fff;}
#CheckStatisticStatus div ul li.a{background:#9abc32;}
#CheckStatisticStatus div ul li.b{background:#6fb3e0;}
#CheckStatisticStatus div ul li.c{background:#999999;}
#CheckStatisticStatus div ul li.d{background:#f6a736;}

#CheckStatisticStatus div ul li[class^='a']{padding:8px 10px;color:#fff;}
#CheckStatisticStatus div ul li.a1{background:#9abc32;}
#CheckStatisticStatus div ul li.a2{background:#6fb3e0;}
#CheckStatisticStatus div ul li.a3{background:#999999;}
#CheckStatisticStatus div ul li.a4{background:#f6a736;}

#y,#m,#d{width:290px;height:280px;}



.StatisticChart{margin-bottom:0px;overflow:hidden;}
.StatisticChart div{float:left;margin-right:25px;}
.StatisticChart div h1{background:url("images/statistic.png") no-repeat 0px center;padding-left:23px;height:17px;line-height:17px;clear:both;color:#69aa46;font-size:12px;margin-top:20px;margin-bottom:8px;}
.StatisticChart div ul{overflow:hidden;}
.StatisticChart div ul li{float:left;margin-right:1px;}
.StatisticChart div ul li[class^='a']{padding:8px 10px;color:#fff;}
.StatisticChart div ul li.a1{background:#9abc32;}
.StatisticChart div ul li.a2{background:#6fb3e0;}
.StatisticChart div ul li.a3{background:#999999;}
.StatisticChart div ul li.a4{background:#f6a736;}
.StatisticChart .ChartContainer{width:290px;height:280px;}

.plus{background:url("images/+.png") no-repeat 100% center;padding-right:16px;}
.minus{background:url("images/-.png") no-repeat 100% center;padding-right:16px;}

#FlowMaterialResult .pick{width:48px;}

.awoke_734{background:url("images/yellow.png") no-repeat 5px center;padding-left:25px;}
.awoke_735{background:url("images/red.png") no-repeat 5px center;padding-left:25px;}

#WorkMaterialBook{margin:auto;width:1200px;}
#WorkMaterialBook img{border-radius:16px;margin:10px 0;border:solid 1px #ccc;}

#chrome{background:none;display:block;color:#000;margin:20px 0 0 40px;}

#cpu,#mem{width:500px;height:20px;background:#00ff00;margin-bottom:50px;margin-top:5px;}
#cpu span,#mem span{display:inline-block;width:50px;height:20px;background:#ff0000;color:#fff;}
#mem_usage{padding-left:20px;}
#left .ztree li a.curSelectedNode{background-color:#f2f2f2;}

#ChatContainer{border: 1px solid #DADADA;}
#ChatDeptList{width: 125px;background: #f2f2f2;float: left;overflow-y: auto;border-right: 1px solid #d2d2d2;box-shadow: inset -4px 0px 6px #D2D2D2;-moz-box-shadow: inset -4px 0px 6px #D2D2D2;-webkit-box-shadow: inset -4px 0px 6px #D2D2D2;}
#ChatMemberList{width: 125px;background: #f2f2f2;float: left;overflow-y: auto;border-right: 1px solid #d2d2d2;box-shadow: inset -4px 0px 6px #D2D2D2;-moz-box-shadow: inset -4px 0px 6px #D2D2D2;-webkit-box-shadow: inset -4px 0px 6px #D2D2D2;}
#ChatMainContainer{background: white;margin-left: 250px;}
#ChatDeptList li,#ChatMemberList li{font-size: 14px;line-height: 30px;padding-left: 10px;cursor: pointer;}
#ChatMemberList li.online{background: url("images/user_online.png") no-repeat 2px;padding-left: 26px;}
#ChatMemberList li.offline{background: url("images/user_offline.png") no-repeat 2px;padding-left: 26px;}
#ChatDeptList li{background: url("images/group.png") no-repeat 2px;padding-left: 26px;} 
#ChatDeptList li:hover,#ChatMemberList li:hover{background-color: #6DBBE8;}
#ChatDeptList li.selected,#ChatMemberList li.selected{background-color: #6DBBE8;}
#ChatMemberList .msg-count{width: 20px;height: 20px;background-color: rgb(209, 91, 71);-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;vertical-align: middle;text-align: center;color: white;float: right;margin-right: 5px;margin-top: 5px;}
#ChatMemberList .msg-count-text{position: relative;top: -3px;}

#ChatMsgListContainer{overflow-x: hidden;overflow-y: auto;}
#ChatMsgList{margin:0px 10px;}
#ChatMsgList .msg-from{display: block; text-align:left;}
#ChatMsgList .msg-to{display: block; text-align:right;}
#ChatMsgList .msg-item{margin: 10px 0px;}
#ChatMsgList .msg-content{padding: 10px 5px;margin-top: 3px;border-radius: 5px;display: inline-block;}
#ChatMsgList .msg-from .msg-content{background-color: #C0E8FF;}
#ChatMsgList .msg-to .msg-content{background-color: #C2FFE7;}
#ChatMsgList .msg-desc{color: rgb(174, 174, 174);}
#ChatMsgList .msg-name{}
#ChatMsgList .msg-date{}

#ChatMsgSendContainer{padding: 5px;border-top: 1px solid #dadada;overflow: hidden;}
#ChatMsgSendContainer .msg-input{width: 100%;margin: auto;display: block;height: 60px;resize: vertical;}
#ChatMsgSendContainer #ChatMsgSendBtnContainer{height:30px; text-align:right;}
#ChatMsgSendContainer #ChatMsgSendBtnContainer a{display: inline-block;background-color: #428bca;border: solid 1px #428bca;text-align: center;cursor: pointer;color: #fff;height: 20px;line-height: 20px;padding: 3px 15px;margin: 4px 2px;}
#ChatMsgSendContainer .msg-error{display:none;text-align: left;background: url("images/invalid.png") no-repeat left #fff;float: left;min-width: 100px;height: 20px;line-height: 20px;padding: 3px 19px;margin: 4px 2px;}

.ChatMsgReceiverInfo{padding: 5px;border-bottom: 1px solid #DADADA;overflow: hidden;}
.form_template .c {font-weight:bold;color:#428bca;margin-left:35px;font-size:18px;border-bottom:dotted 1px #ccc;margin-bottom:10px;margin-right:35px;padding-bottom:5px;margin-top:10px;}