@CHARSET "UTF-8";

.ke-top-wrap {
	height: 25px;
	padding: 10px 5px;
}

.ke-top-right {
	float: right;
}

.ke-top-right img {
	height: 24px;
}

.ke-event-list {
	margin-bottom: 15px;
}

.ke-event-list-subtitle, .ke-event-list-title, .ke-event-list-tag {
	margin: 10px 15px;
	color: #999999;
}

.ke-event-list-img img {
	width: 100%;
}

.ke-event-list-title {
	font-size: 20px;
	color: #333333;
}

.ke-event-list-tag div {
	float: left;
	border: 1px solid #999999;
	padding: 2px;
	border-radius: 4px;
	margin-right: 10px;
	line-height: 22px;
}